<%= form_for ([@log, @training]) do |t| %>
    <%= t.label :member %>
    <p><%= t.text_field :member, class: "form-field" %></p>
    <%= t.label :company %>
    <p><%= t.text_field :company, class: "form-field" %></p>
    <%= t.label "Trainer" %>
    <p><%= t.select(:trainer, options_from_collection_for_select(@trainers, :name, :name, @training.trainer), prompt: "Select a Trainer", id: "trainer") %></p>
    <%= t.label "Type of Training" %>
    <p><%= t.select(:stage, options_for_select(["1st Launch", "2nd Launch", "Follow Up", "One-on-one"], @training.stage))%></p>
    <%= t.label "Status" %>
    <p><%= t.select(:status, options_for_select(["Complete", "Incomplete", "No Show", "Demonstration"], @training.status)) %></p>
    <%= t.label "Training Date" %>
    <p><%= t.text_field :date, class: "form-field", id: "customDate", value: @training.date ? @training.date : Time.now.in_time_zone.strftime("%m/%d/%Y") %></p>
    <%= t.label "Training Time" %>
    <p><%= t.text_field :time, class: "form-field", id: "customTime", value: @training.time ? @training.time : Time.now.in_time_zone("Central Time (US & Canada)").strftime("%I:%M %p")  %></p>
    <%= t.label "Notes" %>
    <p><%= t.text_area :notes %></p>
    <p><%= t.submit "Submit", class: "form-submit", id: "form-submit" %></p>
<% end %>

<script type="text/javascript">
    let customDate = $("#customDate");
    customDate.click(function(){
       customDate.datepicker().datepicker("show");
    });
</script>