<div class="training">
    <label>Member</label>
    <p><%= @training.member %></p>
    <label>Company</label>
    <p><%= @training.company %></p>
    <label>Trainer</label>
    <p><%= @training.trainer %></p>
    <label>Stage</label>
    <p><%= @training.stage %></p>
    <label>Status</label>
    <p><%= @training.status %></p>
    <label>Notes</label>
    <p id="notes"><%= @training.notes %></p>
    
</div>
<div class="options">
    <% if user_signed_in?  %>
        <%= link_to fa_icon("edit", text: "Edit Training"), edit_log_training_path(@training) %> 
    <% end %>
    <%= link_to "Back to the Trainings Log", log_path(@training.log) %>
</div>