<div class="training">
    Member
    <p><%= @training.member %></p>
    Company
    <p><%= @training.company %></p>
    Trainer
    <p><%= @training.trainer %></p>
    Stage
    <p><%= @training.stage %></p>
    Status
    <p><%= @training.status %></p>
    Notes
    <p><%= @training.notes %></p>
    
</div>