<div class="training">
    <h4>Member</h4>
    <p><%= @training.member %></p>
    <h4>Company</h4>
    <p><%= @training.company %></p>
    <h4>Trainer</h4>
    <p><%= @training.trainer %></p>
    <h4>Stage</h4>
    <p><%= @training.stage %></p>
    <h4>Status</h4>
    <p><%= @training.status %></p>
    <h4>Notes</h4>
    <p><%= @training.notes %></p>
    
</div>
<div class="options">
    <%= link_to "Edit Training", edid_log_training_path(@training) %>
</div>