<div class="training">
    <h5>Member</h5>
    <p><%= @training.member %></p>
    <h5>Company</h5>
    <p><%= @training.company %></p>
    <h5>Trainer</h5>
    <p><%= @training.trainer %></p>
    <h5>Stage</h5>
    <p><%= @training.stage %></p>
    <h5>Status</h5>
    <p><%= @training.status %></p>
    <h5>Notes</h5>
    <p id="notes"><%= @training.notes %></p>
    
</div>
<div class="options">
    <%= link_to fa_icon("edit", text: "Edit Training"), edit_log_training_path(@training) %> <%= link_to "Back to the Trainings Log", log_path(@training.log) %>
</div>