<%= form_for :ticket do |f| %>
    <%= f.hidden_field :code, value: @code %>
    <%= f.label nil, value: @prop %>
    <%= f.text_area :content %>
<% end %>
<div class="options">
    <%= link_to "Go Back", root_path %>
</div>