<%= form_for :ticket do |f| %>
    <%= select_tag(:code, options_for_select(["Test"])) %>
    <%= f.text_area :content %><br/>
    <%= f.submit "Send" %>
<% end %>
<div class="options">
    <%= link_to "Go Back", root_path %>
</div>