<%= form_for :ticket do |f| %>
    <%= f.options_for_select([ "VISA", "MasterCard" ], "MasterCard") %>
    <%= options_for_select([['Lisbon', 1], ['Madrid', 2]], 2) %>
    <%= f.text_area :content %><br/>
    <%= f.submit "Send" %>
<% end %>
<div class="options">
    <%= link_to "Go Back", root_path %>
</div>