<h3 class="text-center">Submit a Request</h3>
<h5 class="text-center">Found a bug or have an idea to improve the app? Send it in here.</h5>

<%= form_for :ticket do |f| %>
    <%= select_tag(:code, options_for_select(["Feature Request", "Support Request"])) %><br/>
    <%= f.text_area :content %><br/>
    <%= f.submit "Send" %>
<% end %>
<div class="options">
    <%= link_to "Go Back", root_path %>
</div>