<h3 class="text-center">Cancellation Logs [<small>with a total of (<%= @total_cancellations %>) cancellations logged.</small>]</h3>

<table class="table text-center">
    <thead>
        <tr>
            <th>Date Created</th>
            <th>Log Title</th>
            <th># of Cancellations</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @logs.each do |t| %>
            <tr>
                <td><%= t.created_at.strftime("%m/%d/%Y") %></td>
                <td><%= link_to t.title, cancellation_log_path(t) %></td>
                <td><%= t.cancellations.count %></td>
                <% if user_signed_in? %>
                    <td> <%= link_to fa_icon("edit", text: "Edit"), edit_cancellation_log_path(t) %>
                    <% if is_admin? %>
                         | <%= link_to fa_icon("trash", text: "Delete"), cancellation_log_path(t), method: :delete %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

    <div class="options">
        <% if user_signed_in? %> <%= link_to fa_icon("plus-circle", text: "New Cancellation Log"), new_cancellation_log_path %> <% end %>
    </div>
