<%= form_for @log do |f| %>
    
    <%= f.label "Title:" %><br/>
    <%= f.text_field :title, value: "#{Time.now.in_time_zone("Central Time (US & Canada)").strftime("%B")} Trainings", class: "form-field" %><br/><br/>
    <%= f.label :active %><br/>
    <span>Yes</span>
    <%= f.radio_button :active, true, :checked => true %>
    <span>No</span>
    <%= f.radio_button :active, false %><br/>
    <br/>
    <%= f.submit "Submit", class: "form-submit" %>
<% end %>