<!DOCTYPE html>
<html>
  <head>
    <title>TrainerStats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>

  <body>
    
    <div class="bar">
      <ul id="head">
        <li>
          <%= link_to "Trainings", logs_path %>
        </li>
        <li>
          <%= link_to "Cancellations", cancellation_logs_path %>
        </li>
        <% if !user_signed_in? %>
          <li class="pull-right"><%= link_to "Login", new_user_session_path %></li>
        <% else %>
          <li class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <li class="pull-right"><%= link_to("Edit Profile", edit_user_path(current_user))%></li>
          <li class="pull-right"><%= link_to("Users", users_path) if is_admin? %></li>
        <% end %>
      </ul>
      
    </div>
    <%= render 'shared/message' %>
    <div id="content">
      <%= yield %>
    </div>
    <div class="bar">
      <ul id="foot">
        <li class="pull-left">TrainerStats v. 2</li>
        <li class="pull-right"><%= "Signed in as #{current_user.name}" if user_signed_in? %> <%= "[Admin]" if is_admin? %> </li>
      </ul>
    </div>
  </body>
</html>
